/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.beta-hero {
	text-align: right;
	a{
		img{
			box-shadow: 1px 3px 3px solid #666;
		}
	}
}
.navbar-header{
	line-height: 50px;
	vertical-align: middle;
}

.navbar-left{
	float:left;
	margin-right: 140px;
}

.profile-row {
	img {
		width: 260px;
	}
}

.choices{
	.link-container{
		width: 100%;
		max-width: 400px;
		text-align: center;
		display: block;
	}
}

@media (max-width: 768px) {
	.navbar-header{
		text-align: right;
		img{
			margin-right: 0;
		}
	}
	.beta-hero {
		text-align: center;
		a{
			img{
				max-width: 260px;
			}
		}
	}
	.choices{
		img{
			max-width: 260px;
		}
	}
	#architecture-diagram{
		max-width: 260px;
	}
}