/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
.beta-hero {
  text-align: right;
}
/* line 9, ../sass/screen.scss */
.beta-hero a img {
  box-shadow: 1px 3px 3px solid #666;
}

/* line 14, ../sass/screen.scss */
.navbar-header {
  line-height: 50px;
  vertical-align: middle;
}

/* line 19, ../sass/screen.scss */
.navbar-left {
  float: left;
  margin-right: 140px;
}

/* line 25, ../sass/screen.scss */
.profile-row img {
  width: 260px;
}

/* line 31, ../sass/screen.scss */
.choices .link-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: block;
}

@media (max-width: 768px) {
  /* line 40, ../sass/screen.scss */
  .navbar-header {
    text-align: right;
  }
  /* line 42, ../sass/screen.scss */
  .navbar-header img {
    margin-right: 0;
  }

  /* line 46, ../sass/screen.scss */
  .beta-hero {
    text-align: center;
  }
  /* line 49, ../sass/screen.scss */
  .beta-hero a img {
    max-width: 260px;
  }

  /* line 55, ../sass/screen.scss */
  .choices img {
    max-width: 260px;
  }

  /* line 59, ../sass/screen.scss */
  #architecture-diagram {
    max-width: 260px;
  }
}
